body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 126, 207);
}
#FirstDiv{
    background-color: black;
    width: 300px;
    height: 70px; 
    border-radius: 10px;
}
 .InFirst{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(247, 245, 245);
    text-align: center;
    border-radius: 10px;
}
.inputbtn{
    height: 20px;
    width: 30px;
}
